$mainTheme: #A50;
$mainThemeWhite: #F80;
$lineMenu: #556B2F;
$white: #ffffff;
$lineMenuBorder: #008000;
$colorLink: #DDD;
$colorLinkHover: #CD853F;
$colorMainFont: #000000;
$whiteGray: #DDD;
$outlineColorButton: #FFA07A;
$bgTag: rgba(203, 209, 211, 0.3);
$fontColorTag: #666;