# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# composer vendor dir
/vendor

# composer.lock for yii2-extension not needed to store
composer.lock

/.sass-cache
