@charset 'UTF-8';

@import
'vars/_fonts',
'vars/_colors';

@import
'abstract/mixins';

/*
@import
'style/callout',
'style/base',
'style/media';*/

.navbar-inverse {
  background-color: $lineMenu;
  border-color: $lineMenuBorder;

  a {
    color: $colorLink !important;
  }

  a:hover:not(.navbar-brand) {
    color: $colorLinkHover !important;
  }
}

.filter-container {
  margin-top: 78px;
  width: 105px;
}

.main-page {
  margin-top: 100px;

  .find-form {
    .for-gender {
      margin-top: 13px;
      margin-bottom: 13px;
      display: inline-flex;

      .form-check {
        padding-right: 12px;
      }
    }

    select {
      margin-top: 15px;
    }

    span {
      font-size: 24px;
    }

    button {
      margin-top: 17px;
      float: right;
    }
  }

  hr {
    margin-top: 80px !important;
  }

  .card {
    .image-of-object {
      height: 270px;
      width: 270px;
      float: left;
      margin-right: 24px;
      border-radius: 3px;
    }

    .card-body {
      width: 649px;
    }
  }
}

footer {
  background-color: $lineMenu;
  margin-top: 92px;
  width: 100%;
  padding-top: 33px;
  margin-bottom: 40px;
  height: 80px;
  color: $colorLink;

  a {
    color: $colorLink;
  }
}

.page {
  width: 1600px !important;
}

.navbar-inverse {
  height: 77px !important;

  .navbar-header {
    position: relative;
    padding-top: 13px;

    .navbar-brand {
      position: absolute;
      width: 306px;
      top: -2px;
      right: -82px;
    }
  }
}

.search {
  margin-top: 77px;
}

.navbar-nav {
  position: absolute;
  top: 14px;
  font-size: 18px;
  right: 378px;

  li {
    padding-right: 80px;
  }

  :nth-child(3) a {
    text-decoration: underline;
  }

  :nth-child(3) a :hover {
    text-decoration: none;
  }

  :nth-child(3) :before {
    position: absolute;
    width: 32px;
    height: 100%;
    left: -17px;
    top: 1px;
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: 19px 26px;
    background-image: url("../img/icons/pin2.svg");
  }
}

.nav-main-search {
  margin-top: 93px;
  background-color: #808000;

  .collapse {
    padding: 18px;
    form {
      .btn {
        padding: 8px 12px;
        font-size: 16px;
        width: 86px;
      }
      /* width: 100%; */
      padding-right: 204px;
      float: right;
      /* position: absolute;*/
      .main-search {
        font-size: 14px;
        font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
        border-radius: 5px;
        border: none;
        box-sizing: border-box;
        padding: 24px 76px 21px 25px;
        /* width: 100%; */
        /* padding-left: 24px; */
        /* padding-top: 12px; */
        width: 1028px !important;
      }
    }
  }
}