@charset 'UTF-8';

@import
'vars/_fonts',
'vars/_colors';

@import
'abstract/mixins';

/*
@import
'style/callout',
'style/base',
'style/media';*/


.test-new {
  &__clear {
    float: left;
  }
}

.jumbotron {
  background-color: red !important;
  h1 {
    font-size: 178px!important;
  }
}

.test {
  display: flex;
}

.new-tag {
  border-radius: 42px;
  border: 4px red solid;
}

.open-tag {
  border-radius: 42px;
  border: 4px red solid;
}

.lead {
  font-size: 41px !important;
}

.navbar-inverse {
  background-color: $lineMenu;
  border-color: $lineMenuBorder;
  a {
    color: $colorLink!important;
  }
}