.test-new {
  &__clear {
    float: left;
  }
}

.jumbotron {
  background-color: red !important;
  h1 {
    font-size: 178px!important;
  }
}

.test {
  display: flex;
}

.new-tag {
  border-radius: 42px;
  border: 4px red solid;
}

.open-tag {
  border-radius: 42px;
  border: 4px red solid;
}

.lead {
  font-size: 41px !important;
}